.img-carousel {
    max-height: 300px;
    object-fit: cover;
    width: 100%;
}
.owl-carousel .item {
    padding: 15px;
}
.owl-carousel .thumb {
    position: relative;
}
.owl-carousel .hover-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
}
.owl-carousel .thumb:hover .hover-content {
    display: block;
}

/* src/assets/css/styles.css */

/* Styles pour le pied de page */
footer {
    background-color: #f8f9fa; /* Couleur de fond du pied de page, ajustez selon vos besoins */
    padding: 20px 0;
    margin-top: 20px; /* Espacement au-dessus du pied de page */
}

footer .container {
    max-width: 1140px; /* Largeur maximale de la container, ajustez si nécessaire */
}

footer .row {
    margin-bottom: 20px;
}

footer .first-item ul,
footer .under-footer {
    list-style: none;
    padding: 0;
}

footer .first-item ul li {
    margin-bottom: 10px;
}

footer .first-item ul li a {
    text-decoration: none;
    color: #333;
}

footer .under-footer {
    text-align: center;
}

footer .under-footer p {
    margin: 5px 0;
}

footer .under-footer a {
    color: #007bff;
    text-decoration: none;
}

footer .under-footer a:hover {
    text-decoration: underline;
}

/* Styles supplémentaires pour la réactivité */
@media (max-width: 991px) {
    footer .row {
        text-align: center;
    }
}
